.my-table {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  border-collapse: collapse;
}
.my-table tr {
  border-bottom: 1px solid black;
}
.my-table td {
  padding: 5px;
}
.text-center {
  text-align: center;
}
